MASTER_API_URL = "https://script.google.com/macros/s/xxxxxxxxxxxxxxxx/exec"
TOP_CALENDAR_ID = "xxxxxxxxxxxxxxxx@group.calendar.google.com"
U21_CALENDAR_ID = "yyyyyyyyyyyyyyyy@group.calendar.google.com"
TICKET_APP_URL = "https://club-ticket-navi-fctokyo-test.streamlit.app/"
